@charset "UTF-8"

*{
    font-family: Arial, Helvetica, sans-serif;
    
}
body{
    background-image:linear-gradient(to right , #BF0B3B , #D50DD9 ) ;
}
main{
    background-color: white;
    border-radius: 15px;
    box-shadow: 10px 10px 10px black;
    width: 500px;
    padding: 10px;
    margin: auto;
 

}
h1 {
    color: #1835D9 ;
    text-align: center;
    text-shadow: 1px 2px 1px #b1870ad2;

}
h2{
    color:#238C2A ;
    

}
p { 
    text-align: justify;

}